:host {
    display: flex;
}

label {
    margin-right: 8px;
    font-size: 16px;
    color: #333;
    padding-top: 18px;
}

.value {
    font-size: 18px;
    padding-top: 18px;
}

.mat-icon-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    margin-top: 10px;

    mat-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: gray;
    }
}

.mat-input-element {
    font-size: 18px;
}
